@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
  bottom: 5%;
}


.first-slide{
  background:linear-gradient(rgba(14, 12, 12, 0.151),rgba(15, 15, 15, 0.486)), url('/images/pexels-julia-kuzenkov-1974596.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  
}


.second-slide{
  background:url('/images/pexels-valeriia-1miller-2587054.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}


.third-slide{ 
  background:url('/images/pexels-eberhard-grossgasteiger-1612351.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}


.sticky-back{ 
  background:linear-gradient(rgba(92, 221, 182, 0.532),rgba(3, 161, 109, 0.404)),url('/images/pexels-eberhard-grossgasteiger-1612351.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
